.home-container{
background-color: violet;
height: 100%;
width: 100%;
}


.app-container{
    background-color: whitesmoke;
    height: 100%;
    width: 100%;
    align-content: center;
    justify-content: center;
  }