.container-prediction-image{
    width: fit-content;
    max-height: fit-content;
}

.container-prediction-image img{
    min-width: auto;
    min-height: auto;
}

.img-realidad-aumentada{

}

.img-inteligencia-artificial{
 
}

.buttons-container{
    float: right;
    margin-top: -10%;
    margin-right: 3%;
}

