.container-prediction-image{
    background-color: whitesmoke;
    height:100%;
    width: 100%;
    align-content: center;
    justify-content: center;
  
}

.container-prediction-image img{
    min-width: auto;
    min-height: auto;
}

.img-realidad-aumentada{
    min-width: auto;
    min-height: auto;
}

.img-inteligencia-artificial{
    min-width: auto;
    min-height: auto;
}

.buttons-container{
    float: right;
    margin-top: -10%;
    margin-right: 3%;
}

.loader-container{
    text-align: center;
    margin-top: 15%

}


