.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #1781d8;
  max-height: 8vh;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.header-title {
  font-size: calc(10px + 2vmin);
  color: #FFFFFF;
  font-weight:bold;
  font-size:xx-large;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;

}

.App-link {
  color: #61dafb;
}

.app-container{
  background-color: whitesmoke;
  height: 100%;
  width: 100%;
  background-image: url(D:\\DressyFrontend\\Dressy_WebApp\\react-flask-app\\src\\assets\\fondo.png);
}

/*
.camera-container {
  max-height: 92vh;
  min-width: 100%;
}*/

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
